@model List<RestaurantTable>
@{
    ViewData["Title"] = "Table View";
}@{
    Layout = "_Layout-Admin";
}

@*Content Area*@
        <div class="col py-3 ms-3 me-3">
            <h3 class="fw-bold">@ViewData["Title"]</h3>
            <hr />
            <div class="col py-2 ms-3">
                @*Table*@
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Table Name</th>
                            <th scope="col" class="text-center">Seating Capacity </th>
                            <th scope="col" class="text-center">Available </th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>


                    <tbody>
                        @{var count = 1;}
                        @foreach (var data in Model)
                        {
                            <tr>
                                <th scope="row">@count</th>
                                <td>@data.Id</td>
                                <td>@data.TableName</td>
                                <td class="text-center">@data.SeatingCapacity</td>
                                @{
                                    if (data.Availability == "Free")
                                    {
                                        <td class="text-center"><span class="badge rounded-pill text-bg-success bg-success">@data.Availability</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><span class="badge rounded-pill text-bg-success bg-danger">@data.Availability</span></td>
                                    }
                                }
                                <td class="text-center">
                                    @*Edit*@
                                    <a data-bs-toggle="modal" data-bs-target="#editRestaurantTable">
                                        <i class="bi bi-pencil text-success"></i>
                                    </a>

                                    @*Delete*@
                                    <a data-bs-toggle="modal" data-bs-target="#delRestaurantTable">
                                        <i class="bi bi-trash text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            count += 1;
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editRestaurantTable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="UpdateRestaurantTable" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Table</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @*Walang laman dito. ang mangyayari is may separate file na _CustomerDetails.cshtml.
                    Dun gagawin yung laman ng modal, tapos i-rerender sa loob ng <div> na may class name na "modal-body".
                    ang _CustomerDetails ay referred to as a Partial Page, partial kase yung html ng partial page na yun ay
                    isasama sa regular na page file, like yung CustomerView.cshtml

                    Gumamit tayo ng javascript event listener para ma-generate yung modal the moment na pumindot tayo ng specific na button.
                    yung button na yun (check mo sa line 99) ay may data-id na attribute. Yung data-id na yun is yung id ng customer natin.
                    Kailangan natin yun para pag pinindot natin yung button, yung customer id ay madadala sa Customer controller, yun yung
                    id number na gagamitin natin para mahanap yung customer details sa database*@
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success-secondary" asp-action="CustomerView">Cancel</button>
                    <button class="btn btn-success" type="submit">Update</button>
                </div>
        </form>
    </div>
</div>

