@model List<RestaurantTable>
@{
    ViewData["Title"] = "Table View";
}@{
    Layout = "_Layout-Admin";
}

@*Content Area*@
        <div class="col py-3 ms-3 me-3">
            <h3 class="fw-bold">@ViewData["Title"]</h3>
            <hr />
            <div class="col py-2 ms-3">
                @*Table*@
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Table Name</th>
                            <th scope="col" class="text-center">Seating Capacity </th>
                            <th scope="col" class="text-center">Available </th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>


                    <tbody>
                        @{var count = 1;}
                        @foreach (var data in Model)
                        {
                            <tr>
                                <th scope="row">@count</th>
                                <td>@data.Id</td>
                                <td>@data.TableName</td>
                                <td class="text-center">@data.SeatingCapacity</td>
                                @{
                                    if (data.Availability == "Free")
                                    {
                                        <td class="text-center"><span class="badge rounded-pill text-bg-success bg-success">@data.Availability</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><span class="badge rounded-pill text-bg-success bg-danger">@data.Availability</span></td>
                                    }
                                }
                                <td class="text-center">
                                    @*Edit*@
                                    <a data-bs-toggle="modal" data-bs-target="#editReserve">
                                        <i class="bi bi-pencil text-success"></i>
                                    </a>

                                    @*Delete*@
                                    <a data-bs-toggle="modal" data-bs-target="#delReserve">
                                        <i class="bi bi-trash text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            count += 1;
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
@*end of overall*@
