@model Tuple<List<PackageMenu>, List<PackageItems>>
@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex text-center text-light" style="background-color: #0021ac">
    <div class="cover-container d-flex p-3 mx-auto flex-column pt-5">
        <main class="mt-5">
            <br><br><br><br>
            <div class="mt-5 pt-5 display-1 fw-bold"><b>Sizzle, Grill, Enjoy</b></div>
            <p class="lead mt-3">Grill the Moment, Savor the Flavor: SeoulSizzle Samgyupsal – Where Tradition Meets Sizzle!<br>Elevate Your Dining Experience with Every Grilled Delight.</p>
            <p class="lead mt-5 pt-5 mb-5">
                <a href="#Package" class="btn btn-lg btn-light fw-bold border-white btn-primary">Learn More</a>
            </p>
        </main>
    </div>
</div>

<!--CARDS - PACKAGES-->
@{
    var j = 0;
    var col = 4; //Defines how many columns, the number of rows will be decided automatically. Changing this may or may not actually change the columns reliably due to the implementation of the HTML code
}
@for(int i = 0; i <= Math.Ceiling(Convert.ToDecimal(Model.Item1.Count / col)); i++)
{
    <div class="container">
        @if(i == 0)
        {
            <h1 id="Package" class="text-center fw-bolder mb-4 mt-5">Packages</h1>
        }

        <!--ROWS-->
        <div class="row">
        <!--Loop through PackageMenu-->
        @while(j < Model.Item1.Count)
        {
            <div class="col-md-3">
                <div class="card mt-5 text-center" style="width: 18rem;">
                    <img src="@Model.Item1[j].ImageLink" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Item1[j].PackageName</h5>
                        <h6 class="card-subtitle mt-2">@Model.Item1[j].PackageDescription</h6>
                        <h6 class="card-subtitle mt-2">Good for @Model.Item1[j].Duration hours</h6>
                        <p class="card-text fw-bold">@String.Format(new CultureInfo("fil-PH"), "{0:C2}", Model.Item1[j].Price)</p>
                        <form asp-action="BookForm" method="get">
                            <input type="hidden" name="packageName" id="packageName" value="@Model.Item1[j].PackageName" />
                            <button class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="BookForm">Book Now</button>
                        </form>
                    </div>
                </div>
            </div>

            //Go to the next row (in other words, break the while loop) when it reaches the max number of columns (Make sure to increment j first before break; so it goes to the next entry in the list)
            //Otherwise, just increment normally without breaking
            if((j + 1) % col == 0)
            {
                j++;
                break;
            }
            j++;
        }
        </div>
    </div>

}

<br><br /><hr>

<!--Descriptions-->
<h1 class="text-center fw-bolder my-5">Package Inclusions</h1>
@{
    j = 0;
    col = 2; //Defines how many columns, the number of rows will be decided automatically. Changing this may or may not actually change the columns reliably due to the implementation of the HTML code
}
<div class="container">
    @for (int i = 0; i <= Math.Ceiling(Convert.ToDecimal(Model.Item1.Count / col)); i++)
    {
        <!--ROWS-->
        <div class="row mb-4">
            <!--Loop through PackageMenu entries-->
            @while (j < Model.Item1.Count)
            {
                <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 600px;">
                        <div class="row g-0">
                            <div class="col-md-5">
                                <img src="@Model.Item1[j].ImageLink" class="img-fluid rounded-start" style="height: 100%;">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold">@Model.Item1[j].PackageName</h5>
                                    <ul class="list-group list-group-flush">
                                        <!--Select the PackageItem entries where its PackageId is equal to the Id of the current PackageMenu entry in the while loop. Loop through these entires-->
                                        @foreach(var package in Model.Item2.Where(p => p.PackageId == Model.Item1[j].Id))
                                        {
                                            <li class="list-group-item">@package.Item</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                //Go to the next row (in other words, break the while loop) when it reaches the max number of columns (Make sure to increment j first before break; so it goes to the next entry in the list)
                //Otherwise, just increment normally without breaking
                if ((j + 1) % col == 0)
                {
                    j++;
                    break;
                }
                j++;
            }
        </div>
    }
    <!--end of container for descriptions-->
</div>

    <!-- Modal -->
    <div class="modal fade" id="bookTable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Find A Table</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @*Date Picker*@
                    <label for="datepicker">Choose a Date:</label><br />
                    <input id="datepicker" width="276" />
                    <script>
                        $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap5'
                        });
                    </script>

                    @*Time Picker*@
                    <label for="time">Choose a time:</label><br />
                    <select class="form-select" name="time" id="time">
                        <option value="9am">9:00 AM</option>
                        <option value="12pm">12:00 PM</option>
                        <option value="3pm">3:00 PM</option>
                        <option value="6pm">6:00 PM</option>
                        <option value="9pm">9:00 PM</option>
                    </select>

                    @*Number of Guest Picker*@
                    <label for="numGuest">Number of Guest</label><br />
                    <select class="form-select" name="numGuest" id="numGuest">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" asp-action="BookForm">Next</a>
                </div>
            </div>
        </div>
    </div>


</div>


</div>


<!--Card1-->

