@model List<PackageMenu>
@{
    ViewData["Title"] = "Package View";
}
@{
    Layout = "_Layout-Admin";
}

@*Content Area*@
        <div class="col py-3 ms-3 me-3">
            <h3 class="fw-bold">@ViewData["Title"]</h3>
            <hr />

            @*Table*@
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Package Name</th> @*kunin yung equivalent firstname, ang ipapakita dito yung customer first name*@
                        <th scope="col">Package Description</th> @*kunin yung equivalent lastname, ang ipapakita dito yung customer last name*@
                        <th scope="col">Price</th> @*kunin yung equivalent email, ang ipapakita dito yung customer email*@
                        <th scope="col">Duration</th> @*kunin yung equivalent phone, ang ipapakita dito yung customer phone num*@
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>


                <tbody>
                    @{var count = 1;}
                    @foreach (var data in Model)
                    {
                        <tr>
                            <th scope="row">@count</th>
                            <td>@data.Id</td>
                            <td>@data.PackageName</td>
                            <td>@data.PackageDescription</td>
                            <td>@data.Price</td>
                            <td>@data.Duration Hours</td>   @*Imbis na INT gawin nalang na Time data type sa database?*@
                            <td class="text-center">
                                @*Edit*@
                                <a data-bs-toggle="modal" data-bs-target="#editPackage">
                                    <i class="bi bi-pencil text-success"></i>
                                </a>

                                @*Delete*@
                                <a data-bs-toggle="modal" data-bs-target="#delPackage">
                                    <i class="bi bi-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        count += 1;
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editPackage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Customer Info</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <label for="packageName" class="form-label">Package Name</label>
                                <input type="text" class="form-control" id="packageName" value="Package 1" required="">
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <label for="packageDesc" class="form-label">Package Description</label>
                                <input type="text" class="form-control" id="packageDesc" value="Flavored Pork (250g), Flavored Beef (250g), Ssamjang (250g)" required="">
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-6">
                                <label for="price" class="form-label">Price</label>
                                <input type="text" class="form-control" id="price" value="299.00" required="">
                            </div>

                            <div class="col-6">
                                <label for="duration" class="form-label">Duration</label>
                                <input type="text" class="form-control" id="duration" value="2 hours" required="">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-success-secondary" asp-action="PackageView">Cancel</a>
                    <a class="btn btn-success" asp-action="PackageView">Update</a>
                </div>
            </div>
        </div>
    </div>  @*end of modal*@

    <!-- Delete Modal -->
    <div class="modal fade" id="delPackage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Customer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="lead">Are you sure you want to delete this package?</p>
                    <p>Package ID: 2 <br />Package: Package1 <br /> Package contains: </br> Flavored Pork (250g), Flavored Beef (250g), Ssamjang (250g)</p>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-danger-secondary" asp-action="PackageView">Cancel</a>
                    <a class="btn btn-danger" asp-action="PackageView">Delete</a>
                </div>
            </div>
        </div>
    </div>

    @*end of overall*@
</div>

